
*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%; 
}

.CanvasErrorText
{
	font-family: Verdana, Arial, sans-serif;
	line-height:17px;
	font-size: 12px;
	color: #777777;
	padding: 10px 10px;
}

#FPSCounter, .FPSCounter
{
    width: 0 auto;
    z-index: 1000000;
    color: #777777;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
    border: 1px solid #91a5b8;
    padding: 3px;
    margin: 3px;
    float: left;
    position: absolute;
}

#WebGLCanvasContainer
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #777777;
    margin: 0 auto;
    width: 575px;
    height: 432px;
    min-height: 432px;
    z-index: 20;
    border: 0px;
    float:left;
    background-color:#e9e9e9;
}

#Canvas2DContainer
{
	position:absolute;
	z-index:1000000;
	width:565px;
	margin:5px;
}

#Canvas2D
{
	float:right;
	border:1px solid #91a5b8;
}